

@model Demo.ViewModel.HomeDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h1>@Model.PageTitle</h1>
<h6>Employee Name: @Model.Employee.Name </h6>
<h6>Employee Id: @Model.Employee.Id</h6>


