

@model HomeDetailsViewModel
@{
    ViewData["Title"] = "Empolye";
}

<table border="2px solid black">
    <thead>
        <tr>Id</tr>
        <tr>Name</tr>
        <tr>Address</tr>
    </thead>
    <tbody>
        <td>

        </td>
    </tbody>
</table>


