
@model Teacher
@{
    ViewData["Title"] = "SpecificTeacher";
}

@section Style
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
}

<div class="container">
  <div class="row">
    <div class="col-lg-4 baggh">
        <div class="bg-imag" data-mdb-ripple-color="light">
        <img src="~/Image/img.jpg" class="img-fluid"/>
        </div>
        <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Address</p>
        <a href="#!" class="btn btn-primary">Details</a>
        </div>
    </div>
  </div>
</div>
